<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer">

  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <img src="{{ site.author.avatar | relative_url }}" alt="Saad El Banaoui" class="footer-logo" width="100">

    <div class="footer-col-wrapper">
      <div class="col">
        <p class="footer-description">{{ site.description | escape }}</p>
      </div>
      <div class="col">

        {%- if site.author %}
          <ul class="contact-list">

            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}"><i class="ri-mail-line"></i> {{ site.author.email }}</a></li>
            {%- endif %}
            {% if site.author.address -%}
              <li><i class="ri-map-pin-line"></i> {{ site.author.address }}</li>
            {%- endif %}
            {% if site.author.phone -%}
              <li><a href="tel:{{ site.author.phone }}"><i class="ri-phone-line"></i> {{ site.author.phone }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}

      </div>
    </div>
    <hr>
    {%- include social.html -%}
  </div>

</footer>
