<section class="hero">
    <div class="hero__inner">
        <span class="hero__role">Designer ∙ Développeur ∙ Biker</span>
        <h1 class="hero__title">
            <span class="lower"> Hello, je suis Saad.</span>
            <span class="highlight">Je conçois des expériences numériques
                qui laissent de la place à l’essentiel.</span>
        </h1>
        <p class="subtitle">
            🌱 Des expériences épurées, accessibles, et peu gourmandes.<br>
            💡 Pensées pour les utilisateurs, construites pour durer.
        </p>
        <a href="{{ '/' | relative_url }}contact" class="hero__button button button--primary"> Un projet en tête ? Discutons-en.</a>
    </div>
</section>