
<section class="services">
    <h2 class="services__title">Mes services</h2>
    <div class="services__list">
        <div class="services__item">
            <span class="services__item-icon">
                <i class="ri-palette-line"></i>
            </span>
            <h3 class="services__item-title">UI/UX Design</h3>
            <p class="services__item-description">
                <strong>Des interfaces pensées pour l’humain..</strong> <br>
                Des expériences claires, accessibles et cohérentes, construites autour des besoins réels des utilisateurs.
            </p>
        </div>
        <div class="services__item">
            <span class="services__item-icon">
                <i class="ri-code-line"></i>
            </span>
            <h3 class="services__item-title">Développement web</h3>
            <p class="services__item-description">
                <strong>Du design à la ligne de code.</strong> <br>
                Intégration soignée, performance maîtrisée, adaptabilité multi-écrans, et une attention portée à chaque interaction.
            </p>
        </div>
        <div class="services__item">
            <span class="services__item-icon">
                <i class="ri-app-store-line"></i>
                <i class="ri-google-play-line"></i>
            </span>
            <h3 class="services__item-title">Mobile App Design</h3>
            <p class="services__item-description">
                <strong>Du prototypage au pixel parfait.</strong> <br>
                Design responsive et éco-conçu pour une expérience mobile efficace, du wireframe au composant final.
            </p>
        </div>
        <div class="services__item">
            <span class="services__item-icon">
                <i class="ri-shopping-bag-line"></i>
            </span>
            <h3 class="services__item-title">E-commerce</h3>
            <p class="services__item-description">
                <strong>Des boutiques en ligne qui vont à l’essentiel.</strong> <br>
                Des interfaces sobres, conçues pour convertir sans compromettre la vitesse ni l’expérience
            </p>
        </div>
    </div>
</section>