<ul class="social--media--list">
{%- for entry in site.author.social_links -%}
  <li>
    <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
      <span class="ri-{{ entry.icon }}-line"></span>
    </a>
  </li>
{%- endfor -%}
{% unless site.minima.hide_site_feed_link %}
  <li>
    <a href="{{ site.feed.path | default: 'feed.xml' | relative_url }}" target="_blank" title="Subscribe to syndication feed">
      <i class="ri-rss-line"></i>
    </a>
  </li>
{%- endunless %}
</ul>
