<section class="works">
    <div class="works__inner">
        <div class="works__header">
            <h2 class="works__title">Quelques projets</h2>
            <div class="works__navigation">
                <button class="works__nav-button" id="prevButton" onclick="scrollWorks('left')">‹</button>
                <button class="works__nav-button" id="nextButton" onclick="scrollWorks('right')">›</button>
            </div>
        </div>
        <div class="works__list">
            {% assign sorted_works = site.works | sort: 'order' %}
            {% for work in sorted_works %}
            <div class="works__item">
                <div class="work__item--image">
                    <img src="{{ work.image | relative_url }}" alt="{{ work.title }}" loading="lazy" onclick="openWorkModal('{{ work.url | relative_url }}', '{{ work.title }}', '{{ work.type }}', '{{ work.image | relative_url }}', '{{ work.description }}', '{{ work.technologies }}', '{{ work.duration }}', '{{ work.role }}')">
                </div>
                <div class="work__item--content">
                    <span class="work__item--type">{{ work.type }}</span>
                    <h3 class="work__item--title">{{ work.title }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>