---
layout: base
---

<div class="blog-page">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <ul class="post-list">
      {%- for post in posts -%}
      <li class="post-item">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" class="post-item__image" width="{{ post.image_thumb_width }}" height="{{ post.image_thumb_height }}">
        <div class="post-item__content">
          <span class="post-meta">{{ post.date | date: "%d / %m / %Y" }}</span>
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p class="post-item__description">{{ post.description }}</p>
          {%- if site.minima.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
          <a class="post-item__link" href="{{ post.url | relative_url }}">Lire la suite</a>
        </div>
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Page {{ paginator.previous_page }}">
              ← Précédent
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">Page {{ paginator.page }} sur {{ paginator.total_pages }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Page {{ paginator.next_page }}">
              Suivant →
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>